{
    "env": {
        "browser": true,
        "node": true,
        "es2021": true,
        "jest": true
    },
    "parserOptions": {
        "project": "./jsconfig.json",
        "ecmaVersion": 2021,
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "jsx-a11y",
        "prettier"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react/jsx-runtime",
        "plugin:react-hooks/recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "no-unused-vars": "warn",
        "react/jsx-filename-extension": "off",
        "react/prop-types": "off",
        "no-console": "warn",
        "prettier/prettier": "off",
        "sort-imports": [
            "warn",
            {
                "ignoreCase": true,
                "ignoreDeclarationSort": false,
                "ignoreMemberSort": false,
                "memberSyntaxSortOrder": [
                    "none",
                    "all",
                    "multiple",
                    "single"
                ],
                "allowSeparatedGroups": true
            }
        ]
    }
}