.pomodoro-timer {
	min-width: var(--min-width);
	padding: 1rem;
	background-color: white;
	border-radius: 1rem;
	text-align: center;

	& .title {
		& h1 {
			margin-top: 0;
		}
	}

	& .timer {
		margin: 1rem 0;

		/* & #timer-label {
		} */

		/* & .timer-display {
		} */

		& .timer-controls {
			display: flex;
			justify-content: center;
		}
	}

	& .session-controls {
		display: grid;
		gap: 1rem;
		grid-template-columns: 1fr 1fr;

		& p {
			margin: 0;
		}
	}
}
