$grad-color1: rgba(174, 233, 238, 1);
$grad-color2: rgba(148, 150, 233, 1);

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.root-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: $grad-color1;
  background: radial-gradient(circle, $grad-color1 0%, $grad-color2 100%);
}
