@import '~/styles/variables';

/* index.css - resets */
:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

a {
  text-decoration: none;
}
