#quote-box {
	width: clamp(var(--min-width), var(--min-width), 650px);
	padding: 2rem;
	background-color: var(--color-light);
	border-radius: 1rem;

	& .quote {
		& blockquote {
			margin: 0;
			color: var(--grad-color2);
			font-size: 1.25rem;
			font-weight: bold;
		}

		& cite {
			display: block;
			margin-top: 1rem;
			text-align: right;
			color: var(--color-dark);
			font-size: 1rem;
		}
	}

	& .msg {
		margin-top: 0;
		color: var(--color-med);
	}

	& .buttons {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		margin-top: 1rem;

		& .btn {
			padding: 0.7rem 1rem;
			cursor: pointer;
			line-height: 1;
			transition: box-shadow 0.25s;

			&:disabled {
				opacity: 0.5;
				cursor: auto;
			}

			&:hover {
				box-shadow: 0 0 5px 5px var(--color-med);
			}

			&:is(button) {
				border: none;
				border-radius: 0.3rem;
				background-color: var(--grad-color2);
				color: var(--color-light);
				font-weight: bold;
			}

			&:is(a) {
				display: grid;
				place-items: center;
				padding: 5px 10px;
				border: 1px solid var(--grad-color2);
				border-radius: 0.3rem;
				color: var(--grad-color2);
			}
		}
	}
}
