.calculator {
	width: var(--min-width);
	font-family: 'Orbitron', sans-serif;
	background-color: orange;
	border: solid black 5px;

	& .display-input,
	& .display-output {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		min-height: 4rem;
		background-color: black;
		color: white;
		padding: 0 0.5rem;
		font-size: 1.5rem;
		font-weight: bold;
	}

	& .buttons {
		display: grid;
		gap: 2px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(5, 5rem);
		grid-template-areas:
			'clear clear divide multiply'
			'seven eight nine subtract'
			'four five six add'
			'one two three equals'
			'zero zero decimal equals';

		& #clear {
			grid-area: clear;
		}
		& #zero {
			grid-area: zero;
		}
		& #equals {
			grid-area: equals;
		}

		& button {
			font-size: 1.5rem;
			font-weight: bold;
			background-color: lightgrey;
			border: none;

			&.text {
				font-family: inherit;
			}

			&:active {
				background-color: darkgray;
			}
		}
	}
}
